---
layout: default
title: Corporate and Nonprofit Partners
blocks:
  - id: half-image-header
    image: /uploads/MiscPhotos/OPar-Main.jpg
    alt:
    heading_html: <h1>Corporate and Nonprofit </h1><h1><strong>Partners</strong></h1>
    text_html: ''
    button-1-text: Become a Partner
    button-1-link: 'mailto: ktolo@mnangel.org'
    button-2-text:
    button-2-link:
    screen-height: 80%
    image-placement: left
    image-horizontal-focal-point: center
    image-vertical-focal-point: top
    text-placement: center
    scheme-name: white-background-green-highlight
partner-loop:
  - title: Corporate Partners
    tag: corporate
    partners:
      - image: /images/logo-ames.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-ames.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-mn-oncology.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-bcbsmn.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-mn-oncology.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-ames.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-mn-oncology.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-bcbsmn.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
  - title: Nonprofit Partners
    tag: nonprofit
    partners:
      - image: /images/logo-ames.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-bcbsmn.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-ames.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-ames.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-mn-oncology.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
---
<section id="back-to-top" class="px-8 sm:px-16 py-16 grid grid-cols-3 bg-white">
  <div class="col-span-1">
    <h3 class="pb-2 featured-text uppercase font-bold text-xl">Categories</h3>
    <!-- Corporate -->
    <div class="block mb-2">
      <a href="#corporate" class="hover:text-[var(--featured-color-medium-blue)] border-b hover:border-b-[var(--featured-color-medium-blue)]"> Corporate Partners </a>
    </div>

    <!-- Nonprofit -->
    <div class="block mb-2">
    <a href="#nonprofit" class="hover:text-[var(--featured-color-angel-blue)] border-b hover:border-b-[var(--featured-color-angel-blue)]"> Nonprofit Partners </a>
    </div>

    <!-- back to top -->
    <div class="sticky top-full">
      <a href="#back-to-top" class="font-bold">Back to top <span class="text-xl">&#x2934;</span></a>
    </div>
  </div>

  <div class="col-span-2">
    {% for commitment in page.partner-loop %}
    <h2 id="{{commitment.tag}}" class="pb-6 featured-text text-5xl font-extrabold uppercase tracking-wide">{{commitment.title}}</h2>

    <div class="pb-20 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3"> 
    {% for item in commitment.partners %}
      <div class="p-8 sm:p-6 col-span-1 w-full h-full">
        <img class="object-cover object-center" style="object-position: {{item.image-horizontal-focal-point}} {{item.image-vertical-focal-point}}" src="{{item.image}}" alt="{{item.alt}}" />
      </div>
    {% endfor %}
    </div>
    {% endfor %}

  </div>
</section>
