---
layout: default
blocks:
  - id: full-image-header
    heading_html: <h1>The <strong>people</strong> behind</h1><h1>Angel Foundation™</h1>
    heading-has-long-words: true
    text-placement: top
    image: /uploads/MiscPhotos/OP-Main.jpg
    image-horizontal-focal-point: center
    image-vertical-focal-point: top
    overlay: overlay-dark
    scheme-name: dark-navy-background
seo:
  title: Angel Foundation™ | Our People
  description:
  image:
  index: true
---
<!-- Job buttons -->
<div class="px-8 sm:px-16 py-8 flex flex-nowrap overflow-x-scroll no-scrollbar justify-center">
  {% for jobs in site.data.people.jobs-loop %}
    <span class="button-1 shrink-0 jobButton text-base-color m-2 {% if forloop.first %} active {% endif %}" data-job-value="{{jobs.jd | replace:' ','-' }}">{{jobs.jd}}</span>
  {% endfor %}
</div>

<!-- People in the job -->
{% for jobs in site.data.people.jobs-loop %}
<div class="{% unless forloop.first %} hidden {% endunless %} filterJob {{jobs.jd | replace:' ','-' }}">
  <div class="px-8 md:px-16 py-16">
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 text-center">
    {% for item in jobs.people %}

        <!-- Jobs Loop -->
        <div class="col-span-1 rounded-lg text-[var(--base-color)] bg-[var(--featured-color-dark-navy)]" style="background-color: {{item.color}}">

        <div class="relative">
          {% if item.tag == true %}
            <div>
               <h4 class="job-title">{{item.title-tag}}</h4>
            </div>
          {% endif %}

            <!-- Image -->
            <div>
              <img class="aspect-square rounded-t-lg  object-cover w-full" src="{{item.image}}" alt="{{item.alt}}" />
            </div>

            <!-- Text -->
            <div class="p-5 sm:p-4 pb-8 rounded-b-lg {% if block.text-alignment == 'left' %} text-left {% elsif block.text-alignment == 'center' %} text-center {% elsif block.text-alignment == 'right' %} text-right {% endif %}">
              <h3 class="pb-2 featured-text font-semibold text-xl">{{item.name}}</h3>
              <p class="pb-2 font-semibold uppercase text-xs tracking-widest {% if item.color == 'var(--featured-color-medium-blue)' %} text-[var(--featured-color-dark-navy)] {% else %} text-[var(--featured-color-medium-blue)] {% endif %}">{{item.job-title}}</p>
              <p>{{item.phone-number}}</p>
            </div>
        </div>
      </div>
    {% endfor %}    
    </div>
  </div>
  
</div>
{% endfor %}


<!-- Filter Script -->
<script>
  const jobButton = document.querySelectorAll('.jobButton')
  const filterJob = document.querySelectorAll('.filterJob')

  console.log(jobButton,filterJob)


  function filter() {
    console.log(this.dataset.jobValue);

    jobButton.forEach( button => {
    button.classList.remove('active')
    })

    this.classList.add('active')

    filterJob .forEach (job => {
      console.log(job)

      if (job.classList.contains(this.dataset.jobValue))  {
        job.classList.remove('hidden')
      } else {
        job.classList.add('hidden')
      }

    })
    
  }


  jobButton.forEach( button => {
    button.addEventListener('click', filter)
    
  }

  )
</script>