---
layout: default
title: Our Partners
blocks:
  - id: half-image-header
    image: >-
      https://images.unsplash.com/photo-1576089235406-0612d7bb033e?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MzE0fHx8ZW58MHx8fHx8
    alt:
    heading_html: Our <strong>Partners</strong>
    text_html:
    button-1-text: Become a partner today
    button-1-link: /index
    button-2-text:
    button-2-link:
    screen-height: 80%
    image-placement: left
    image-horizontal-focal-point: center
    image-vertical-focal-point: center
    text-placement: center
    scheme-name: white-background-green-highlight

  - id: text-banner
    heading_html: Meet our Angel Investors
    text_html: >-
      Lorem ebitis aut rerum necessitatibus saepe eveniet ut et voluptates
      repudiandae sint et molestiae non recusandae. Itaque earum rerum hic 
      tenetur a sapiente. Lorem ebitis aut rerum necessitatibus saepe eveniet ut
      et voluptat. Repudiandae sint et molestiae non recusandae.
    large-text-width: half
    paragraph-width: half
    large-text-placement: left
    large-text-alignment: left
    paragraph-text-alignment: left
    button-1-text: Become a partner today
    button-1-link: /index
    button-2-text:
    button-2-link:
    scheme-name: angel-blue-background

partner-loop:
  - title: $250,000+ Annual Commitment
    tag: 250
    partners:
      - image: /images/logo-ames.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-ames.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-mn-oncology.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
  - title: $100,000+ Annual Commitment
    tag: 100
    partners:
      - image: /images/logo-ames.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-bcbsmn.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
  - title: $50,000+ Annual Commitment
    tag: 50
    partners:
      - image: /images/logo-ames.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-bcbsmn.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-bcbsmn.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-ames.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-mn-oncology.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-ames.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
  - title: $49,000+ Annual Commitment
    tag: 49
    partners:
      - image: /images/logo-mn-oncology.jpg
        alt:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
---
<section id="back-to-top" class="px-8 sm:px-16 py-16 grid grid-cols-3 bg-white">
  <div class="col-span-1">
    <h3 class="pb-2 featured-text uppercase font-bold text-xl">Categories</h3>
    <!-- 250 -->
    <div class="block mb-2">
      <a href="#250" class="hover:text-[var(--featured-color-medium-blue)] border-b hover:border-b-[var(--featured-color-medium-blue)]"> $250,000+ Annual Commitment</a>
    </div>

    <!-- 100 -->
    <div class="block mb-2">
    <a href="#100" class="hover:text-[var(--featured-color-angel-blue)] border-b hover:border-b-[var(--featured-color-angel-blue)]"> $100,000+ Annual Commitment</a>
    </div>

    <!-- 50 -->
    <div class="block mb-2">
    <a href="#50" class="hover:text-[var(--featured-color-angel-blue)] border-b hover:border-b-[var(--featured-color-angel-blue)]"> $50,000+ Annual Commitment</a>
    </div>

    <!-- 49 -->
    <div class="block mb-2">
    <a href="#49" class="hover:text-[var(--featured-color-angel-blue)] border-b hover:border-b-[var(--featured-color-angel-blue)]"> $49,000+ Annual Commitment</a>
    </div>

    <!-- back to top -->
    <div class="sticky top-full">
      <a href="#back-to-top" class="font-bold">Back to top <span class="text-xl">&#x2934;</span></a>
    </div>
  </div>

  <div class="col-span-2">
    {% for commitment in page.partner-loop %}
    <h2 id="{{commitment.tag}}" class="pb-6 featured-text text-5xl font-extrabold uppercase tracking-wide">{{commitment.title}}</h2>

    <div class="pb-20 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3"> 
    {% for item in commitment.partners %}
      <div class="p-8 sm:p-6 col-span-1 w-full h-full">
        <img class="object-cover object-center" style="object-position: {{item.image-horizontal-focal-point}} {{item.image-vertical-focal-point}}" src="{{item.image}}" alt="{{item.alt}}" />
      </div>
    {% endfor %}
    </div>
    {% endfor %}

  </div>
</section>
