---
layout: default
title: Our Partners
blocks:
  - id: half-image-header
    image: /uploads/MiscPhotos/Reassign.jpg
    alt: An older Asian woman and a younger Asian woman smiling in a park.
    heading_html: <h1>Our</h1><h1><strong>Partners</strong></h1>
    text_html: >-
      <p>Each year, Angel Foundation™ provides financial, educational, and
      emotional support to over 4,000 cancer patients across Minnesota. Our work
      would not be possible without the support of our major supporters and
      nonprofit partners.</p>
    button-1-text: Become a Partner
    button-1-link: 'mailto: ktolo@mnangel.org'
    button-2-text:
    button-2-link:
    screen-height: 80%
    image-placement: left
    image-horizontal-focal-point: center
    image-vertical-focal-point: top
    text-placement: center
    scheme-name: white-background-green-highlight
  - id: text-banner
    heading_html: <h2>Angel Foundation™ is Powered by Partnership</h2>
    text_html: ''
    large-text-width: full
    paragraph-width: full
    large-text-placement: left
    large-text-alignment: center
    paragraph-text-alignment: left
    button-1-text:
    button-1-link:
    button-2-text:
    button-2-link:
    scheme-name: dark-navy-background
partner-loop:
  - title: Major Supporters
    tag: corporate
    partners:
      - image: /uploads/SponsorLogos/am_f_b_regular-navy-[1].jpg
        alt: Ameriprise Financial Logo
        link:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-ames.jpg
        alt: Ames Construction Logo
        link: https://www.amesconstruction.com/
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /images/logo-bcbsmn.jpg
        alt: Blue Cross and Blue Shield of Minnesota Logo
        link:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /uploads/SponsorLogos/fullColorJPG.jpg
        alt: Genentech Logo
        link:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /uploads/SponsorLogos/THE-JOYFUL-NOISE-FOUNDATION.png
        alt: The Joyful Noise Foundation Logo
        link:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /uploads/SponsorLogos/mn-oncology-website.png
        alt: Minnesota Oncology Logo
        link:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /uploads/SponsorLogos/richard-schulze-website.png
        alt: Richard M. Schulze Family Foundation Logo
        link:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
  - title: Nonprofit Partners
    tag: nonprofit
    partners:
      - image: /uploads/SponsorLogos/acs-hope-lodge.png
        alt: American Cancer Society Hope Lodge Logo
        link:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /uploads/SponsorLogos/aicaf-logo.png
        alt: American Indian Cancer Foundation Logo
        link:
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /uploads/SponsorLogos/foundation-for-financial-planning-website.png
        alt: The Foundation for Financial Planning Logo
        link: https://ffpprobono.org/
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /uploads/SponsorLogos/openarms.png
        alt: Open Arms of Minnesota Logo
        link: https://www.openarmsmn.org/
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
      - image: /uploads/SponsorLogos/triage-cancer-squarelogo-1666153559864-(1).png
        alt: Triage Cancer Logo
        link: https://triagecancer.org/
        image-horizontal-focal-point: center
        image-vertical-focal-point: center
---
<section id="back-to-top" class="px-8 sm:px-16 py-16 grid grid-cols-3 bg-white">
  <div class="col-span-1">
    <h3 class="pb-2 featured-text uppercase font-bold text-xl">Categories</h3>
    <!-- Corporate -->
    <div class="block mb-2">
      <a href="#corporate" class="hover:text-[var(--featured-color-medium-blue)] border-b hover:border-b-[var(--featured-color-medium-blue)]"> Corporate Partners </a>
    </div>

    <!-- Nonprofit -->
    <div class="block mb-2">
    <a href="#nonprofit" class="hover:text-[var(--featured-color-angel-blue)] border-b hover:border-b-[var(--featured-color-angel-blue)]"> Nonprofit Partners </a>
    </div>

    <!-- back to top -->
    <div class="sticky top-full">
      <a href="#back-to-top" class="font-bold">Back to top <span class="text-xl">&#x2934;</span></a>
    </div>
  </div>

  <div class="col-span-2">
    {% for commitment in page.partner-loop %}
    <h2 id="{{commitment.tag}}" class="pb-6 featured-text text-5xl font-extrabold uppercase tracking-wide">{{commitment.title}}</h2>

    <div class="pb-20 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3"> 
    {% for item in commitment.partners %}
      <div class="p-8 sm:p-6 col-span-1 w-full h-full">
        <a href="{{item.link}}" target="_blank">
          <img class="object-cover object-center" style="object-position: {{item.image-horizontal-focal-point}} {{item.image-vertical-focal-point}}" src="{{item.image}}" alt="{{item.alt}}" />
      </a>
      </div>
    {% endfor %}
    </div>
    {% endfor %}

  </div>
</section>
