/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

html{
  scroll-behavior: smooth;
}

/* Typography */
body {
    font-family: "Open Sans", serif;
}

section {
    background-color: var(--bg-color);
    color: var(--text-color);

}

p {
  font-weight: 100;
}

.featured-text { font-family: "Montserrat", serif;}


ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

li {
  display: list-item;
  list-style-position: inside;
  padding-left: 0.5rem;
  font-weight: 100;
}

/* Italic for color-highlight hack */
h1 strong {
    font-weight: inherit;
    color: var(--featured-color);
}

h2 strong {
    font-weight: inherit;
    color: var(--featured-color);
}

h3 strong {
    font-weight: inherit;
    color: var(--featured-color);
}


/* Dropdown styles */

.dropdown { 
    position: relative; 
    display: inline-block;
  }
  
  .dropdown-title {
    padding: 0.25rem 0.5rem;
    display: inline-block;
  }

  .dropdown-title a:hover {
    color: var(--featured-color-v-light-blue)
  }
  
  .dropdown-content {
    position: absolute;
    top: 85%;
    left: -1rem;
    padding: 0.8rem;
    padding-top: 0;
    display: none; 
    background-color: var(--featured-color-angel-blue);
    color: var(--base-color);
    z-index: 3;
    text-align: left;
    min-width: 12rem;
  }
  
  .dropdown:hover .dropdown-content{ 
    display: block;
  }
  
  .dropdown-content a {
    display: block;
    padding: 0.2rem;
  }

  .dropdown-content a:hover {
    color: var(--featured-color-v-light-blue)
  }

  footer a:hover {
    color: var(--featured-color-v-light-blue)
  }
  
  .hamburger-button {
      cursor: pointer;
      padding: 0.5rem;
      display: inline-block;
      font-weight: 200;
      font-size: 2.5rem;
      line-height: 0.8;
      position: fixed;
      right: 5%;
      top: 0rem;
      z-index: 4;
    }
    
    /* Styles when the hamburger button is active  */
    .hamburger-button.active {
      color: var(--base-color);
    }
    
    
    .mobile-menu {
      display: none; 
      background-color: var(--featured-color-dark-navy);
      padding: 5%;
      position: fixed; 
      z-index:3;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
    }
    
    .mobile-menu a {
      text-decoration: none; 
      color: inherit; 
      padding: 2%;
      display: block;
      font-weight: normal;
    }

/* Button Styles */
[class*='button'] {
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.025em;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Montserrat", serif;
}

.button-1 {
    background-color: var(--button-1-bg);
    color: var(--button-1-text-color);
}

.button-2 {
    background-color: var(--button-2-bg);
    color: var(--button-2-text-color);
}

.button-3 {
    background-color: var(--button-3-bg);
    color: var(--button-3-text-color);
}

/* Image Styles */
.overlay-dark::after {
    position: absolute;
    content: ""; 
    display: block;
    width: 100%; 
    height: 80vh; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(15,35,67); 
    opacity: 0.6;
    z-index: 0; 
}

.overlay-light::after {
    position: absolute;
    content: ""; 
    display: block;
    width: 100%; 
    height: 80vh; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(134,191,227); 
    opacity: 0.6;
    z-index: 0; 
}

.overlay-dark, .overlay-light > * {
    z-index: 10;
    position: relative;
  }

/* Info Card Styles */
.info-card-image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.info-card-middle {
  transition: .5s ease;
  opacity: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.info-card-short-description {
  background-color: var(--featured-color-light-blue);
}

.info-card-container:hover .info-card-image {
  opacity: 0.3;
}

.info-card-container:hover .info-card-middle {
  opacity: 1;
}

/* Interactive Card Styles */
.container {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front,
.back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}


.expandButton:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}