/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

html{
  scroll-behavior: smooth;
}

p a {
  color:var(--featured-color-angel-blue);
  border-bottom: 1px solid;
}

p a:hover {
  color:var(--featured-color);
}

/* Typography */
body {
    font-family: "Open Sans", serif;
}

section {
    background-color: var(--bg-color);
    color: var(--text-color);

}

h1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.heading-has-long-words h1 {
  font-size: 2.8rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.heading-has-long-words h2 {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.heading-has-long-words h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

h4 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 800;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.heading-has-long-words h4 {
  font-size: 1.7rem;
  line-height: 2.25rem;
  font-weight: 800;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

p {
  font-weight: 100;
  padding-bottom: 0;
}

.featured-text { font-family: "Montserrat", serif;}

.facts-numbers {
  font-size: 2.6rem;
  line-height: 1;
  font-weight: 800;
  color: var(--featured-color);
  display: block;
}

ol, ul {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

ul li {
  list-style-type: disc;

}

ol li {
  list-style-type: decimal;
}

li {
  display: list-item;
  list-style-position: outside;
  vertical-align: text-top;
  font-weight: 100;
  padding-left: 0.5rem;
}

li p {

  padding-bottom: 0.6rem;
}






/* Italic for color-highlight hack */
h1 strong {
    font-weight: inherit;
    color: var(--featured-color);
}

h2 strong {
    font-weight: inherit;
    color: var(--featured-color);
}

h3 strong {
    font-weight: inherit;
    color: var(--featured-color);
}


/* Dropdown styles */

.dropdown { 
    position: relative; 
    display: inline-block;
  }
  
  .dropdown-title {
    padding: 0.25rem 0.5rem;
    display: inline-block;
  }

  .dropdown-title a:hover {
    color: var(--featured-color-v-light-blue)
  }
  
  .dropdown-content {
    position: absolute;
    top: 85%;
    left: -1rem;
    padding: 0.8rem;
    padding-top: 0;
    display: none; 
    background-color: var(--featured-color-angel-blue);
    color: var(--base-color);
    z-index: 3;
    text-align: left;
    min-width: 12rem;
  }
  
  .dropdown:hover .dropdown-content{ 
    display: block;
  }
  
  .dropdown-content a {
    display: block;
    padding: 0.2rem;
  }

  .dropdown-content a:hover {
    color: var(--featured-color-v-light-blue)
  }

  footer a:hover {
    color: var(--featured-color-v-light-blue)
  }
  
  .hamburger-button {
      cursor: pointer;
      font-size: 2.5rem;
      line-height: 0.8;
      position: relative;
      z-index: 30;
    }

  .hamburger-button:hover {
    color: var(--featured-color-light-blue)
  }
    
  /* Styles when the hamburger button is active  */
  .hamburger-button.active {
    color: var(--featured-color-v-light-blue);
  }
    
    
.mobile-menu {
  display: none; 
  background-color: var(--featured-color-dark-navy);
  padding: 5%;
  padding-top: 12%;
  position: fixed;
  z-index:3;
  top: 0;
  bottom: 0;
  right: 0;
}

.mobile-menu a {
  text-decoration: none; 
  color: inherit; 
  padding: 2%;
  display: block;
}

.mobile-menu a:hover {
  color: var(--featured-color-v-light-blue)
}

.mobile-menu .title {
  color: var(--featured-color-light-blue);
  font-weight: 600;
  font-family: "Montserrat", serif;
  text-transform: uppercase;
}

.mobile-menu .mob-button {
  color: var(--featured-color-dark-navy);
  display: inline-block;
}

/* Button Styles */
[class*='button'] {
    display: inline-block;
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.025em;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Montserrat", serif;
}

.button-1 {
    background-color: var(--button-1-bg);
    color: var(--button-1-text-color);
}

.button-2, .jobButton.active {
    background-color: var(--button-2-bg);
    color: var(--button-2-text-color);
}

.button-3 {
    background-color: var(--button-3-bg);
    color: var(--button-3-text-color);
}

/* Image Styles */
.overlay-dark::after {
    position: absolute;
    content: ""; 
    display: block;
    width: 100%; 
    height: 80vh; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(15,35,67); 
    opacity: 0.6;
    z-index: 0; 
}

.overlay-light::after {
    position: absolute;
    content: ""; 
    display: block;
    width: 100%; 
    height: 80vh; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(134,191,227); 
    opacity: 0.6;
    z-index: 0; 
}

.overlay-dark, .overlay-light > * {
    z-index: 10;
    position: relative;
  }

/* Major Funders Grid */
.major-funders-grid {
  grid-template-columns: 12rem 1fr 1fr;
}

/* Testimonials Grid */
.testimonials-grid {
  grid-template-columns: 12rem 1fr;
}

/* Slick Slider Styles */
.slider-container {
  padding: 8%;
}

.slider-testimonials {

}

.slick-track {
  place-items: center;
  display: flex;
}

.slick-dots {
  bottom: 0%;
  left: 0;
}

/* Info Card Styles */
.info-card-image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.info-card-middle {
  transition: .5s ease;
  opacity: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.info-card-short-description {
  background-color: var(--featured-color-light-blue);
}

.info-card-container:hover .info-card-image {
  opacity: 0.3;
}

.info-card-container:hover .info-card-middle {
  opacity: 1;
}

/* Interactive Card Styles */
.container {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front,
.back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}


.expandButton:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  float: right;
  margin-left: 5px;
}

.accordion .active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* No scroll bar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* ---------- Foundation's: Media Query ----------*/
@media(max-width:61em) {
  .heading-has-long-words h1 {
    font-size: 2.1rem;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 0.025em;
    text-transform: uppercase;
  }

  .container {
    width: 216px;
    height: 270px;
    overflow: hidden;
  }
}

/* Virtuous Donate Form */
/* Buttons */
form[id*=vcrm] .v_ig a.v_gao {
  border-radius: 0.5rem;
  overflow: hidden;
}

/* Most of the inputs */
form[id*=vcrm] .v_fr .v_ig input, form[id*=vcrm] .v_fr .v_ig select, form[id*=vcrm] .v_ig .Select-control {
  border-color: var(--v-input-border-color);
  border-radius: var(--v-border-radius);
  border-radius: 0.5rem;
}

/* Text area */
form[id*="vcrm"] .v_ig textarea, form[id*="vcrm"] .v_ig input[type="checkbox"], form[id*="vcrm"] .v_ig input[type="radio"] {
  border-radius: 0.5rem;
}

/* Payment Element (Stripe) */
StripeElement {
  border-radius: 0.5rem;
}

form[id*="vcrm"] .v_ig button:not(.react-datepicker__navigation), form[id*="vcrm"] .v_ig input[type="button"], form[id*="vcrm"] .v_ig input[type="submit"] {
  border-radius: 0.5rem;
}

