<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto py-16 px-8 sm:px-16">
    {% if block.section-heading_html %}
      <div class="content-block pb-8 
      
      {% if block.large-text-alignment == 'left' %} text-left {% elsif block.large-text-alignment == 'center' %} text-center {% elsif block.large-text-alignment == 'right' %} text-right {% endif %} 
      
      {% if block.heading-has-long-words %} heading-has-long-words {% endif %}">{{block.section-heading_html}}</div>
    {% endif %}

    <div>
      <div class="border border-[var(--text-color)] rounded-2xl">
      {% for item in block.accordion-loop %}
        <div class="relative {% unless forloop.last %} border-b border-[var(--text-color)] {% endunless %}" x-data="{selected:null}">
          <button
            type="button"
            class="w-full"
            @click="selected !== {{forloop.index}} ? selected = {{forloop.index}} : selected = null">
            <div class="flex items-center justify-between py-6 px-8">
              <span class="font-semibold text-xl text-{{block.text-alignment}}">{{item.question}}</span>
              <span x-bind:class="selected == {{forloop.index}} ? 'inline' : 'hidden' " class="pl-2">–</span>
              <span x-bind:class="selected == {{forloop.index}} ? 'hidden' : 'inline' " class="pl-2">+</span>
            </div>
          </button>

          <div
            class="relative overflow-hidden transition-all max-h-0 duration-700"
            style=""
            x-ref="container{{forloop.index}}"
            x-bind:style="selected == {{forloop.index}} ? 'max-height: ' + $refs.container{{forloop.index}}.scrollHeight + 'px' : ''">
            <div class="pt-0 pb-4 px-8 text-{{block.text-alignment}}">
              <p class="lg:text-lg">{{item.answer_html}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
