<section id="">
  <div class="max-width mx-auto py-16 px-8 sm:px-16">
    <!-- Actual content starts here, so that the above has the max width -->

    {% if block.section-heading %}

    <h2
      class="pb-8 text-center featured-text font-extrabold uppercase tracking-wide text-5xl sm:text-6xl {% if block.large-text-alignment == 'left' %} text-left {% elsif block.large-text-alignment == 'center' %} text-center {% elsif block.large-text-alignment == 'right' %} text-right {% endif %}"
    >
      {{block.section-heading}}
    </h2>

    {% endif %}

    <!-- w3 schools accordion -->
    {% for item in block.accordion-loop %} 
    {% assign questions-count = 1 %}
      {% if item.question and item.answer_html %}
      <div class="p-4 border border-[var(--text-color)] rounded-2xl">
        <button class="accordion font-semibold {% if block.text-alignment == 'left' %} text-left {% elsif block.text-alignment == 'center' %} text-center {% elsif block.text-alignment == 'right' %} text-right {% endif %}">{{item.question}}</button>

        <div class="pt-2 panel ease-in-out hidden font-thin {% if block.text-alignment == 'left' %} text-left {% elsif block.text-alignment == 'center' %} text-center {% elsif block.text-alignment == 'right' %} text-right {% endif %}">
            <p>{{item.answer_html}}</p>
        </div>
      </div>
      {% endif %} 
    {% endfor %}

    

    <!-- Don't delete the below; these are for the starting id and class above -->
  </div>
</section>
