<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto">

  <!-- Actual content starts here, so that the above has the max width -->
  <div class="p-28 grid grid-cols-3 justify-center gap-6 md:gap-14 {% if block.hide-bottom-padding %} pb-0 {% endif %} {% if block.hide-top-padding %} pt-0 {% endif %}">
  {% for item in block.button-loop %}
    <div class="col-span-3 md:col-span-1 p-4 px-8 shrink-0 button-{% cycle '1','2','3' %} rounded-lg text-center">
      <a href="{{item.link}}" class="font-bold featured-text uppercase tracking-wide">{{item.text}}</a>
    </div>
  {% endfor %}
</div>

  <!-- Don't delete the below; these are for the starting id and class above -->
</div>
</section>