<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto">
<!-- Actual content starts here, so that the above has the max width -->

<!-- Elfsight Event Calendar | Calendar List View MNANGEL --> <script src="https://static.elfsight.com/platform/platform.js" async></script> 
<div class="elfsight-app-938d1ba4-31fd-4088-8fc6-8eb486d8b04a" data-elfsight-app-lazy data-elfsight-app-layout="month"></div>

<!-- Don't delete the below; these are for the starting id and class above -->
  </div>
</section>