<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto">

  <!-- Actual content starts here, so that the above has the max width -->
  <div class="px-8 sm:px-16 py-32">

  {% if block.section-heading %}

  <h2 class="pb-8 featured-text font-extrabold uppercase tracking-wide text-5xl sm:text-6xl {% if block.text-placement == 'left' %} text-left {% elsif block.text-placement == 'center' %} text-center {% endif %}">{{block.section-heading}}</h2>

  {% endif %}

    <div class="gap-10 pt-10 grid">

    {% for item in item %}

      <!-- Card Loop -->
      <div class="flex grid-cols-5 gap-12">
        <div class="col-span-1 self-center">
          <p class="p-4 px-7 rounded-full font-semibold text-md text-center bg-slate-200">{{item.month}}<br><span class="text-2xl">{{item.day}}</span></p>
        </div>
        <div class="col-span-4 self-center">
          <p class="font-semibold uppercase text-xs tracking-widest">{{item.type}}</p>
          <h3 class="featured-text font-semibold py-2 text-lg">{{item.heading}}</h3>
          {% if item.short-description %}
          <p class="pb-6 font-thin">{{item.short-description}}</p>
          {% endif %}
          {% if item.button-link and item.button-text %}
          <a href="{{item.button-link}}" class="text-sm font-semibold uppercase tracking-wide"> {{item.button-text}} &#10143;</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    
  </div>


  </div>
  
</div>

<!-- Don't delete the below; these are for the starting id and class above -->
</div>
</section>