<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto">
<!-- Actual content starts here, so that the above has the max width -->

<!-- Double the Donation | PAYROLL GIVING --> 
<script src="https://doublethedonation.com/api/js/ddplugin.js"></script> <div id="dtd-plugin"></div> <script type="text/javascript"> var dtd_plugin_node = document.getElementById("dtd-plugin"); var dtd_plugin_config = {"sections": ["payroll-giving","match","volunteer"]}; doublethedonation.plugin.v2.load_plugin(dtd_plugin_node, "rCXEQeUqxWoeIgJa", dtd_plugin_config); </script> 

<!-- Don't delete the below; these are for the starting id and class above -->
  </div>
</section>
