<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto p-8 sm:p-16 py-16">

  <!-- Actual content starts here, so that the above has the max width -->


  <!-- Section Heading -->
  {% if block.section-heading %}

  <h2 class="px-8 sm:px-16 py-16 featured-text font-extrabold uppercase tracking-wide text-4xl sm:text-6xl {% if block.large-text-alignment == 'left' %} text-left {% elsif block.large-text-alignment == 'center' %} text-center {% elsif block.large-text-alignment == 'right' %} text-right {% endif %}">{{block.section-heading}}</h2>

  {% endif %}

  <!-- Facts Loop -->
  <div class="flex flex-row flex-wrap justify-center gap-12 pt-10">
    {% for item in item %}
    {% if item.featured and item.text %}
    <div class="py-4 text-center">
        <p class="pb-3 text-3xl sm:text-5xl font-extrabold block text-[var(--featured-color)]">{{item.featured}}</p>
        <p class="text-sm/5 font-semibold block">{{item.text}}</p>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <!-- Don't delete the below; these are for the starting id and class above -->
  </div>
</section>