<section id="section-{{forloop.index}}">
  <footer class="max-width mx-auto">

  <!-- Actual content starts here, so that the above has the max width -->
  <div class="flex justify-between gap-6 p-4 px-8">
    <div class="">
      <img class="w-full object-cover object-center" style="" src="" alt="MN Angel Logo">
    </div>
    <nav class="flex justify-between gap-8">
      <!-- What we do -->
      <div class="">
        <p class="font-semibold leading-8">What We Do</p>
        <a href="#" class="font-thin block leading-7">Emergency Financial Assistance</a>
        <a href="#" class="font-thin block leading-7">Financial Cancer Care</a>
        <a href="#" class="font-thin block leading-7">Adult & Family Programs</a>
        <a href="#" class="font-thin block leading-7">FAQs</a>
      </div>

      <!-- About us -->
      <div class="leading-6">
        <p class="font-semibold leading-8">About Us</p>
        <a href="#" class="font-thin block leading-8">Mission & Vision</a>
        <a href="#" class="font-thin block leading-7">History</a>
        <a href="#" class="font-thin block leading-7">Our People</a>
        <a href="#" class="font-thin block leading-7">Financial Information</a>
        <a href="#" class="font-thin block leading-7">Privacy Policy</a>
      </div>

      <!-- Get involved -->
      <div class="col-span-1">
        <p class="font-semibold leading-8">Get Involved</p>
        <a href="#" class="font-thin block leading-7">Volunteer Opportunities</a>
        <a href="#" class="font-thin block leading-7">Host an Angel Event</a>
        <a href="#" class="font-thin block leading-7">Become a Partner</a>
        <a href="#" class="font-thin block leading-7">Employment Opportunities</a>
        <a href="#" class="font-thin block leading-7">Contact Us</a>
      </div>

      <!-- Address -->
      <div class="col-span-1">
        <p class="font-semibold leading-8">Angel Foundation</p>
        <a href="#" target="_blank" class="font-thin block leading-7">1155 Centre Pointe Drive, Suite 7 <br> Mendota Heights, MN 55120 </a>
        <p class="block leading-7">EIN – 41-1990883</p>
      </div>
    </nav>

  </div>
  <!-- Don't delete the below; these are for the starting id and class above -->
  </footer>
</section>