<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto px-8 sm:px-16 py-28">

    {% if block.section-heading %}

    <h2 class="featured-text font-extrabold uppercase tracking-wide text-4xl sm:text-6xl {% if block.large-text-alignment == 'left' %} text-left {% elsif block.large-text-alignment == 'center' %} text-center {% elsif block.large-text-alignment == 'right' %} text-right {% endif %}">{{block.section-heading}}</h2>
  
    <p class="pt-6 font-thin">{{block.section-text}}</p>
  
    {% endif %}
  

    <form class="grid md:grid-cols-6 gap-2">
      {% for input in block.form-inputs %}
        <div class="
        {% case input.width %}

        {% when 'full' %} md:col-span-6
        {% when 'half' %} md:col-span-3
        {% when 'third' %} md:col-span-2

        {% endcase %}
        ">

          {% if input.label %}
          <label class="featured-text text-xl tracking-wide font-semibold pb-2 block" >
            <h5>{{input.label}} {% if input.required %} * {% endif %} </h5>
          {% endif %}

          {% case input.form-type %}

            {% when 'text' %}


              <input class="font-thin text-featured rounded-2xl block w-full px-4 py-2 outline-none focus:bg-[var(--featured-color-v-light-blue)]"  type="text" name="{{input.name}}" id="{{input.name}}" placeholder="{{input.placeholder-text}}" {% if input.required %} required {% endif %}>

              
              {% when 'email' %}
              <input class="font-thin text-featured rounded-2xl block w-full px-4 py-2 outline-none focus:bg-[var(--featured-color-v-light-blue)]"  type="email" name="{{input.name}}" id="{{input.name}}" placeholder="{{input.placeholder-text}}"  {% if input.required %} required {% endif %}>
              
              {% when 'phone' %}
              <input class="font-thin text-featured rounded-2xl block w-full px-4 py-2 outline-none focus:bg-[var(--featured-color-v-light-blue)]"  type="tel" name="{{input.name}}" id="{{input.name}}" placeholder="{{input.placeholder-text}}"  {% if input.required %} required {% endif %}>

              {% when 'checkbox' %}
              <div class="columns-2">
                {% for box in input.boxes %}
                  <label class="block" for="{{box.value}}">
                    <input class="font-thin text-featured rounded-2xl px-4 py-2 outline-none focus:bg-[var(--featured-color-v-light-blue)]"  type="checkbox" name="{{input.value}}" id="{{input.value}}"> {{box.checkbox-option}}
                  </label>
                {% endfor %}
              </div>
              
              {% when 'textarea' %}
              <textarea class="font-thin text-featured rounded-2xl block w-full px-4 py-2 outline-none focus:bg-[var(--featured-color-v-light-blue)]"  name="{{input.name}}" id="{{input.name}}" placeholder="{{input.placeholder-text}}"  {% if input.required %} required {% endif %}></textarea>
              
              {% endcase %}

          {% if input.label %}  
          </label>
          {% endif %}

        </div>
      {% endfor %}

      <div class="{% if block.button-alignment == 'left' %} text-left {% elsif block.button-alignment == 'center' %} text-center {% elsif block.button-alignment == 'right' %} text-right {% endif %} md:col-span-6">
        <input type="submit" value="{{block.submit-button-text}}" class="button-1">
      </div>
    </form>
  </div>
</section>

<style>
  input, textarea {
    font-size: 1rem;
  }
</style>