<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto relative">
  
  <!-- Actual content starts here, so that the above has the max width -->
  {% if block.image %}
  <section class="{{block.overlay}} bg-cover bg-no-repeat flex flex-col grow  min-h-[80vh] {% if block.text-placement == 'top' %} justify-start {% elsif block.text-placement == 'center' %} justify-center {% elsif block.text-placement == 'bottom' %} justify-end {% endif %} " style="background-image: url('{{block.image}}'); background-position: {{block.image-horizontal-focal-point}} {{block.image-vertical-focal-point}}" >
  {% endif %}
  
    <div class="z-20 my-14 px-4 text-center featured-text text-6xl font-extrabold uppercase tracking-wide {% if block.full-image-heading-has-long-words %} full-image-heading-has-long-words {% endif %}">{{block.heading_html}}</div>

    
  </section>

  <!-- Don't delete the below; these are for the starting id and class above -->
</div>
</section>