<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto">

  <!-- Actual content starts here, so that the above has the max width -->
  <div class="{% if block.screen-height == 'full' %} md:min-h-screen {% elsif block.screen-height == '80%' %} md:min-h-[80vh] {% elsif block.screen-height == '60%' %} md:min-h-[60vh] {% endif %}  grid md:grid-cols-2">
    <!-- md:h-full on the div negates the h-72, h-full on the image is still needed because of the position absolute -->
    <div class="grow relative h-72 md:h-full"> 
      <img class="absolute w-full h-full object-cover object-center" style="object-position: {{block.image-horizontal-focal-point}} {{block.image-vertical-focal-point}}" src="{{block.image}}" alt="{{block.alt}}">
    </div>
    <!-- Text -->
    <div class="p-8 md:p-16 col-span-1 pr-12 {% if block.text-placement == 'top' %} self-start {% elsif block.text-placement == 'center' %} self-center {% elsif block.text-placement == 'bottom' %} self-end {% endif %} 
    
    {% if block.image-placement == 'right' %} md:order-first {% endif %}">
      <!-- Heading -->
      <div>
        <div class="pb-8 featured-text {% if block.heading-has-long-words %} heading-has-long-words {% endif %}">{{block.heading_html}}</div>
      </div>

      <!-- Paragraph text -->
      {% if block.text_html %}
      <div>
        <p class="lg:text-lg">{{block.text_html}}</p>
      </div>
      {% endif %}

      <!-- Buttons -->
      <div class="pt-3">
        {% if block.button-1-link and block.button-1-text %}
        <a href="{{block.button-1-link}}" class="mr-4 p-4 button-1 {{block.button-1-bg}}">{{block.button-1-text}}</a>
        {% endif %}

        {% if block.button-2-link and block.button-2-text %}
        <a href="{{block.button-2-link}}" class="mr-4 my-4 p-4 button-2 {{block.button-2-bg}}">{{block.button-2-text}}</a>
        {% endif %}

        {% if block.button-3-link and block.button-3-text %}
        <a href="{{block.button-3-link}}" class="my-4 p-4 button-3 {{block.button-3-bg}}">{{block.button-3-text}}</a>
        {% endif %}
      </div>

    </div>
  </div>

  <!-- Don't delete the below; these are for the starting id and class above -->
  </div>
</section>