<div class="scheme-angel-blue-background">
<section id="section-{{forloop.index}}">
  <header class="max-width mx-auto">

  <!-- Actual content starts here, so that the above has the max width -->
  <nav class="flex justify-between p-4 px-8">
    <div class="">
      <a href="/index.html" class="text-4xl">Angel</a>
    </div>

    <div class="hidden md:flex gap-8 featured-text text-sm mx-0 md:content-center">
      <!-- What We Do -->
      <div class="dropdown">
        <span class="dropdown-title"> <a href="#" class=""> What We Do </a></span>
        <div class="dropdown-content">
          <a href="/emergency-financial-assistance.html"> Emergency Financial Assistance </a>
          <a href="/financial-cancer-care.html"> Financial Cancer Care </a>
          <a href="/adult-and-family-programs.html"> Adult & Family Programs </a>
          <a href="/angel-packs.html"> Angel Packs&#8482; </a>
        </div> 
      </div>

      <!-- Get Involved -->
      <div class="dropdown">
        <span class="dropdown-title"> <a href="#" class=""> Get Involved </a></span>
        <div class="dropdown-content">
          <a href="#"> Volunteer Opportunities </a>
          <a href="/host-an-event.html"> Host an Angel Event </a>
        </div> 
      </div>

      <!-- About Us -->
      <div class="dropdown">
        <span class="dropdown-title"> <a href="#" class=""> About Us </a></span>
        <div class="dropdown-content">
          <a href="/mission.html"> Mission </a>
          <a href="/history.html"> History </a>
          <a href="#"> Our People </a>
          <a href="#"> Our Partners </a>
          <a href="#"> Blue Ribbon Circle </a>
          <a href="#"> Financial Information </a>
          <a href="/news.html"> News </a>
        </div> 
      </div>

      <!-- Angel Investors -->
      <div class="dropdown">
        <span class="dropdown-title"> <a href="/angel-packs.html" class=""> Angel Packs&#8482; </a></span>
      </div>

      <!-- Events -->
      <div class="dropdown">
        <span class="dropdown-title"> <a href="#" class=""> Events </a></span>
        <div class="dropdown-content">
          <a href="#"> Calendar </a>
          <a href="#"> Annual Events </a>
        </div> 
      </div>
    </div>

    <div class="content-center">
      <a href="#" class="button-1">Contact Us</a>
      <a href="#" class="button-2">Donate</a>
    </div>

  </nav>

  <!-- Don't delete the below; these are for the starting id and class above -->
</header>
</section>

</div>