<section id="section-{{forloop.index}}">
  <header class="max-width mx-auto">

  <!-- Actual content starts here, so that the above has the max width -->
  <nav class="flex justify-between p-4 px-8">
    <div class="">
      <a href="/index.html" class="text-4xl">Angel</a>
    </div>

    <div class="hidden md:flex gap-8 featured-text text-sm mx-0 md:content-center">
      <a href="#" class="content-center">What We Do</a>
      <a href="#" class="content-center">Get Involved</a>
      <a href="#" class="content-center">About Us</a>
      <a href="#" class="content-center">Angel Investors</a>
      <a href="#" class="content-center">Events</a>
    </div>

    <div class="content-center">
      <a href="#" class="button-2 py-2 px-4 mx-2 rounded-lg font-semibold featured-text uppercase tracking-wide">Get Help</a>
      <a href="#" class="button-1 py-2 px-4 mx-2 rounded-lg  font-semibold featured-text uppercase tracking-wide">Donate</a>
    </div>

  </nav>

  <!-- Don't delete the below; these are for the starting id and class above -->
</header>
</section>