<div class="scheme-angel-blue-background sticky top-0 z-30">
<section id="section-{{forloop.index}}">
  <header class="max-width mx-auto">

  <!-- Actual content starts here, so that the above has the max width -->
  <nav class="flex justify-between p-4 px-8">
    <div class="">
      <a href="/index.html">
        <img class="max-w-24 sm:max-w-36 block" src="/images/logo-angel-white.svg">
      </a>
    </div>

    <div class="hidden md:flex gap-8 featured-text text-sm mx-0 md:content-center">
      <!-- What We Do -->
      <div class="dropdown content-center">
        <span class="dropdown-title"> <a href="#" class=""> What We Do </a></span>
        <div class="dropdown-content">
          <a href="/emergency-financial-assistance.html"> Emergency Financial Assistance </a>
          <a href="/financial-cancer-care.html"> Financial Cancer Care </a>
          <a href="/adult-and-family-programs.html"> Adult & Family Programs </a>
          <a href="/angel-packs.html"> Angel Packs&#8482; </a>
        </div> 
      </div>

      <!-- Events -->
      <div class="dropdown content-center">
        <span class="dropdown-title"> <a href="#" class=""> Events </a></span>
        <div class="dropdown-content">
          <a href="/calendar.html"> Calendar </a>
          <a href="/annual-events.html"> Annual Events </a>
        </div> 
      </div>

      <!-- Get Involved -->
      <div class="dropdown content-center">
        <span class="dropdown-title"> <a href="#" class=""> Get Involved </a></span>
        <div class="dropdown-content">
          <a href="/volunteer.html"> Volunteer Opportunities </a>
          <a href="/fundraise-for-us.html"> Fundraise for Us </a>
        </div> 
      </div>

      <!-- Who We Are -->
      <div class="dropdown content-center">
        <span class="dropdown-title"> <a href="/mission.html" class=""> Who We Are </a></span>
        <div class="dropdown-content">
          <a href="/mission.html"> Mission </a>
          <a href="/our-people.html"> Our People </a>
          <a href="/our-partners.html"> Corporate and Nonprofit Partners </a>
          <a href="#"> Blue Ribbon Circle </a>
          <a href="/annual-reports-and-financials.html"> Annual Reports and Financials </a>
          <a href="/history.html"> History </a>
          <a href="/news.html"> News </a>
        </div> 
      </div>

    </div>

    <!-- Stand-out Buttons -->
    <div class="content-center">
      <a href="/angel-packs.html" class="mx-1 mt-0 button-1 text-center">Angel Packs&#8482;</a>
      <a href="/donate.html" class=" mx-1 button-2 text-center">Donate</a>
    </div>

    <!-- Hamburger Button -->
    <div class="md:hidden">
      <a class="hamburger-button md:hidden"> &#9776; </a>
    </div>

  </nav>

  <!-- Mobile Menu -->
  <div class="mobile-menu text-left">
    <nav class="relative">
      <a href="#" class="title"> What We Do </a>
        <div class="pb-6 pl-4">
          <a href="/emergency-financial-assistance.html"> Emergency Financial Assistance </a>
          <a href="/financial-cancer-care.html"> Financial Cancer Care </a>
          <a href="/adult-and-family-programs.html"> Adult & Family Programs </a>
          <a href="/angel-packs.html"> Angel Packs&#8482; </a>
        </div>
      <a href="#" class="title"> Events </a>
        <div class="pb-6 pl-4">
          <a href="#"> Calendar </a>
          <a href="/annual-events.html"> Annual Events </a>
        </div>
      <a href="#" class="title"> Get Involved </a>
        <div class="pb-6 pl-4">
          <a href="/volunteer.html"> Volunteer Opportunities </a>
          <a href="/fundraise-for-us.html"> Fundraise for Us </a>
        </div> 
      <a href="/mission.html" class="title"> Who We Are </a>
        <div class="pb-6 pl-4">
          <a href="/mission.html"> Mission </a>
          <a href="/our-people.html"> Our People </a>
          <a href="/our-partners.html"> Corporate and Nonprofit Partners </a>
          <a href="#"> Blue Ribbon Circle </a>
          <a href="/annual-reports-and-financials.html"> Annual Reports and Financials </a>
          <a href="/history.html"> History </a>
          <a href="/news.html"> News </a>
      </div> 
      <div class="content-center">
        <a href="/angel-packs.html" class="mob-button button-1">Angel Packs&#8482;</a>
        <a href="/donate.html" class="mob-button button-2">Donate</a>
      </div>
    </nav>
  </div>



  <!-- Don't delete the below; these are for the starting id and class above -->
</header>
</section>

</div>