<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto px-8 sm:px-16 py-32 {% if block.hide-bottom-padding %} pb-0 md:pb-16 {% endif %}">

  <!-- Actual content starts here, so that the above has the max width -->


  <!-- Section Heading -->
  {% if block.section-heading_html %}

  <div class="pb-12 featured-text font-extrabold uppercase tracking-wide text-5xl sm:text-6xl {% if block.large-text-alignment == 'left' %} text-left {% elsif block.large-text-alignment == 'center' %} text-center {% elsif block.large-text-alignment == 'right' %} text-right {% endif %}">{{block.section-heading_html}}</div>

  {% endif %}

  
  <div class="grid grid-cols-2">
    <!-- Image -->
    <div class="col-span-2 md:col-span-1 relative md:mr-12 aspect-square"> 
        <img class="absolute inset-0 h-full w-full z-10 rounded-2xl object-cover object-center" style="object-position: {{block.image-horizontal-focal-point}} {{block.image-vertical-focal-point}}" src="{{block.image}}" alt="{{block.alt | default: block.caption}}">
        <!-- Caption -->
        <span class="z-10 absolute left-3 top-[103%] w-[calc(100%_-_80px)] font-thin text-xs featured-text tracking-wide ">{{block.caption}}</span>
        <!-- Color block -->
        <span class="z-0 absolute -right-[15px] md:-right-[30px] -bottom-4 md:-bottom-10 h-full w-[100px] bg-[var(--text-color)] rounded-2xl"></span>
    </div>

    <!-- Text Block -->
    <div class=" col-span-2 md:col-span-1 pt-20 md:pt-0 {% if block.text-placement == 'top' %} self-start {% elsif block.text-placement == 'center' %} self-center {% elsif block.text-placement == 'bottom' %} self-end {% endif %} 
    
    {% if block.image-placement == 'right' %} md:pr-16 md:order-first {% else %} md:pl-16 {% endif %}">

      <!-- Date on Annual Events Page -->
      {% if block.date %}
      <p class="font-extrabold text-lg uppercase text-[var(--featured-color)] featured-text tracking-wide">{{block.date}}</p>
      {% endif %}

      <!-- Text Block Heading -->
      {% if block.text-block-heading_html %}
      <div>
        <div class="pb-6 featured-text {% if heading-has-long-words == true %} heading-has-long-words {% endif %}">{{block.text-block-heading_html }}</div>
      </div>
      {% endif %}

      <!-- Facts -->
      <div class="grid grid-cols-3">
        {% for item in block.facts-loop | limit:3 %}
        {% if item.number and item.text %}
        <div class="py-4 pr-5">
            <p class="text-3xl sm:text-5xl font-extrabold block text-[var(--featured-color)]">{{item.number}}</p>
            <p class="text-sm/5 font-semibold block">{{item.text}}</p>
        </div>
        {% endif %}
        {% endfor %}
      </div>

    
      <!-- Description -->
      {% if block.description_html %}
      <div>
        <p class="pb-4 font-thin">{{block.description_html}}</p>
      </div>
      {% endif %}

      
      <!-- Buttons -->
      <div class="">
        {% if block.button-1-link and block.button-1-text %}
        <a href="{{block.button-1-link}}" class="mr-4 relative button-1 {{block.button-1-bg}}">{{block.button-1-text}}</a>
        {% endif %}

        {% if block.button-2-link and block.button-2-text %}
        <a href="{{block.button-2-link}}" class="my-4 relative button-2 {{block.button-2-bg}}">{{block.button-2-text}}</a>
        {% endif %}
      </div>

    </div>
  </div>

  <!-- Don't delete the below; these are for the starting id and class above -->
  </div>
</section>