<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto">

  <!-- Actual content starts here, so that the above has the max width -->
  <div class="bg-white py-16 slider-container">
    {% for item in site.data.partners.Major_Funders %}
    <div class="slider-item min-w-32 w-full h-full overflow-x-auto flex-nowrap">
      <a href="{{item.link}}" target="_blank" class="px-10">
        <img class="object-cover w-full h-full" src="{{item.image}}" alt="{{item.alt}}">
      </a>
    </div>
    {% endfor %}

    {% for item in site.data.partners.Nonprofit_Partners %}
    <div class="slider-item min-w-32 w-full h-full overflow-x-auto flex-nowrap">
      <a href="{{item.link}}" target="_blank" class="px-10">
        <img class="object-cover w-full h-full" src="{{item.image}}" alt="{{item.alt}}">
      </a>
    </div>
    {% endfor %}
  </div>


  <!-- Don't delete the below; these are for the starting id and class above -->
  </div>
</section>