<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto py-16 px-8 sm:px-16">
    {% if block.section-heading %}
      <div class="content-block pb-8 text-center featured-text font-extrabold uppercase tracking-wide text-5xl sm:text-6xl  text-{{block.question-block.large-text-alignment}}">{{block.section-heading}}</div>
    {% endif %}

    <div>
      <div class="border border-black rounded-2xl">
      {% for item in block.question-loop %}
        <div class="relative {% unless forloop.last %} border-b border-black {% endunless %}" x-data="{selected:null}">
          <button
            type="button"
            class="w-full"
            @click="selected !== {{forloop.index}} ? selected = {{forloop.index}} : selected = null">
            <div class="flex items-center justify-between p-4">
              <span class="font-semibold text-xl text-{{block.text-alignment}}">{{item.question}}</span>
              <span x-bind:class="selected == {{forloop.index}} ? 'inline' : 'hidden' ">-</span>
              <span x-bind:class="selected == {{forloop.index}} ? 'hidden' : 'inline' ">+</span>
            </div>
          </button>

          <div
            class="relative overflow-hidden transition-all max-h-0 duration-700"
            style=""
            x-ref="container{{forloop.index}}"
            x-bind:style="selected == {{forloop.index}} ? 'max-height: ' + $refs.container{{forloop.index}}.scrollHeight + 'px' : ''">
            <div class="pt-0 pb-4 px-4 text-{{block.text-alignment}}">
              <p>{{item.answer_html}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

    