<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto align-items-center">

  <!-- Actual content starts here, so that the above has the max width -->
  <div class="grid grid-cols-2 gap-4 px-8 sm:px-16 py-24 {% if block.hide-bottom-padding %} pb-0 {% endif %} {% if block.hide-top-padding %} pt-0 {% endif %}">
    {% for item in block.image-loop  %}
    <div class="col-span-2 md:col-span-1 first:ml-40 ">
      <a href="{{item.link}}" class="grid grid-cols-1 place-content-center">
        <img class="object-contain max-w-[40%] place-content-center" src="{{item.image}}" alt="{{item.alt}}"
      
        style="object-position: {{block.image-horizontal-focal-point}} {{block.image-vertical-focal-point}}">
      </a>
    </div>
    {% endfor %}
  </div>


  <!-- Don't delete the below; these are for the starting id and class above -->
  </div>
</section>
