<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto {}">

  <!-- Actual content starts here, so that the above has the max width -->
  <div class="justify-center h-full w-full inset-0 {% if block.hide-bottom-padding %} pb-0 {% endif %} {% if block.hide-top-padding %} pt-0 {% endif %}">
    {% for item in block.image-loop  %}
    <a href="{{item.link}}">
      <div class="">
        <img class="object-contain w-full inset-0" src="{{item.image}}" alt="{{item.alt}}"
      
        style="object-position: {{block.image-horizontal-focal-point}} {{block.image-vertical-focal-point}}">
      </div>
    </a>
    {% endfor %}
  </div>


  <!-- Don't delete the below; these are for the starting id and class above -->
  </div>
</section>
