<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto p-8 sm:p-16">

  <!-- Actual content starts here, so that the above has the max width -->
  <div class="grid grid-cols-3">
    <!-- Section Heading -->
    <div class="col-span-3">
      <h2 class="pb-8 featured-text text-6xl font-extrabold uppercase tracking-wide {% if block.text-alignment == 'right' %} text-right {% elsif block.text-alignment == 'center' %} text-center {% elsif block.text-alignment == 'left' %} text-left {% endif %}">{{block.heading}}</h2>
    </div>

    <!-- Image -->
    <div class="col-span-1"> 
      <div class="m-8">
        <img class="rounded-2xl object-cover object-center" style="object-position: {{block.image-horizontal-focal-point}} {{block.image-vertical-focal-point}}" src="{{block.image}}" alt="{{block.alt}}">
      </div>
      <!-- Color block -->
      <div class="bg-slate-400 w-44"></div>
    </div>

    {% for item in item %}
    <!-- Quote -->
    <div class="p-8 sm:p-16 col-span-2 grid grid-cols-8">
      <div class="col-span-1 text-7xl text-center">&ldquo;</div>
      <div class="pt-6 col-span-6">
        <!-- Quote -->
        <p class="py-4 relative font-thin text-lg">{{item.quote}}</p>
        <!-- Name -->
        {% if item.name %}
        <p class="p-4 relative font-thin text-xs featured-text uppercase tracking-wide text-right">– {{item.name}}</p>
        {% endif %}
      </div>
      <div class="col-span-1 text-7xl place-content-end pb-4 pl-2">&rdquo;</div>
    </div>
  </div>
  {% endfor %}

  <!-- Don't delete the below; these are for the starting id and class above -->
  </div>
</section>