<section class="px-8 sm:px-16 py-28 bg-featured-md text-base-light">
  
  {% if block.section-heading_html %}

  <div class="pb-8 featured-text font-extrabold uppercase tracking-wide text-4xl sm:text-6xl {% if block.text-alignment == 'left' %} text-left {% elsif block.text-alignment == 'center' %} text-center {% elsif block.text-alignment == 'right' %} text-right {% endif %}">{{block.section-heading_html}}</div>

  {% endif %}

<script
    src="https://cdn.virtuoussoftware.com/virtuous.embed.min.js"
    data-vform="{{block.data-vform}}"
    data-orgId="5842"
    data-isGiving="true"
    data-merchantType="StripeUnified"
    data-dependencies="[]">
</script>

</section>